* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	overflow: hidden; /* hide excessive height due to box-model math (borders) */
}

header,
footer,
nav,
section,
article {
	display: block; /* XXX: required for legacy browsers */
}

.pane {
	border-bottom: 1px solid #AAA;
}

.pane {
	height: 45%;
	overflow: auto;
}

.pane:first-child {
	height: 10%;
}

nav.pane {
	height: 40%;
}

footer.pane {
	height: 5%;
}
