header,
nav,
article {
	height: 100%;
}

header {
	color: #FFF;
	background-color: #000;
}

nav {
	background-color: #EEE;
}

article {
	background-color: #FFF;
}

nav ul,
nav ol,
nav li {
	margin-top: -1px; /* collapse double borders */
}

nav ul,
nav ol {
	width: 20%;
	height: 100%;
	overflow: auto;
	float: left;
	border-right: 1px solid #AAA;
	padding-top: 1px; /* compensate for children's collapsed borders */
	list-style-type: none;
	color: #000;
}

nav li {
	border: 1px solid #CCC;
	border-width: 1px 0;
	padding: 5px;
	background-color: #F8F8F8;
	cursor: pointer;
}

.button {
	border: 1px solid #CCC;
	padding: 2px 5px;
	text-decoration: none;
	color: #1C94C4;
	background-color: #F6F6F6;
}

.button:focus {
	outline: none;
}

.selected {
	font-weight: bold;
	color: #FFF;
	background-color: #3D8CFF;
}

.disabled {
	color: #AAA;
	cursor: auto;
}

.error {
	background-color: #F88;
}

#notification {
	display: none;
}

#btnFullscreen {
	display: block;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	border-top-width: 0;
	border-right-width: 0;
}
